.aboutProject {
    @include form;
    left: 0;
    display: none;
    & > div {
        width: 80%;
        padding: 2rem;
        background: $from-inside;
        border: 2px solid $form-border;
        border-radius: 1rem;
        position: relative;
        & p {
            text-align: center;
            margin-bottom: 3rem;
        }
        & h3 {
            padding: 0.4rem 3rem;
            text-align: center;
        }
    }
}