div.list.projects {
    @include list;
    & .top.actions {
        grid-column: 4/8;
        & span {
            width: 100%;
        }
    }
    & .bottom.actions {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        grid-column: 4/8;
        & > button {
            @include button;
            font-size: 1.2rem;
            margin: 0.2rem 1.4rem;
            padding: 0;
            height: 2.4rem;
            &.delete {
                color: $button-font-color-hover;
                background: $button-attention;
                &:hover {
                    background: $font-error;
                }
            }
        }
    }
    & div.line {
        grid-template-columns: repeat(6, 1fr);
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 620px) {
    div.list.projects {
        & div.line {
            grid-template-columns: repeat(3, 1fr);
            & > span {
                min-height: 2.6rem;
                margin-top: 0.6rem;
            }
        }
        & .top.actions {
            display: none;
        }
        & .bottom.actions {
            grid-column: 1/4;
            margin-bottom: 1.6rem;
            & > button {
                width: 80%;
                margin: 0.2rem 10%;
            }
        }
    }

}