html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: Lexend-Regular;
  font-size: 1.6rem;
  color: #333;
}

body {
  position: relative;
  background-image: linear-gradient(0.5turn, #3f87a6, #ebf8e1, #f69d3c);
  background-attachment: fixed;
  padding-top: 12rem;
  min-height: 200vh;
  /*  */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-decoration: underline 1px #3338;
          text-decoration: underline 1px #3338;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

div.navbar {
  display: flex;
  width: 100%;
  height: 10rem;
  padding: 1rem 5%;
  position: fixed;
  top: 0;
  background: #eee;
  z-index: 9;
  border-bottom: 2px solid #3338;
}

div.form {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #ddd8;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  z-index: 10;
}

div.form button.close {
  display: grid;
  place-items: center;
  background: #fff;
  font-size: 1.8rem;
  padding: 0.8rem;
  color: #333;
  border: 2px solid #3338;
  border-radius: 0.4rem;
  cursor: pointer;
  box-shadow: 0 1px 0.5rem 0.2rem #aaaa;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

div.form button.close:hover {
  background: #999;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 1px 0.8rem 0.8rem #aaaa;
}

div.form button.close:focus {
  border: 2px solid #333;
  outline: none;
}

div.form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  width: 80%;
  padding: 2rem;
  background: #eee;
  border: 2px solid #3338;
  border-radius: 1rem;
}

div.form form h2 {
  display: inline-block;
  grid-column: 1/3;
  width: 100%;
  height: 3.6rem;
  text-align: center;
  margin-bottom: 3rem;
}

div.form form div.input {
  display: inline-block;
  grid-column: auto/span 1;
  width: 100%;
  margin: 0.3rem 0;
}

div.form form div.input label,
div.form form div.input input,
div.form form div.input span {
  display: inline-block;
  width: 90%;
  margin: 0 5%;
}

div.form form div.input label {
  padding: 0.4rem 0;
}

div.form form div.input label::after {
  content: " :";
}

div.form form div.input input {
  background: #eee;
  height: 3rem;
  border: 2px solid #888;
  border-radius: 0.4rem;
  padding-left: 0.4rem;
}

div.form form div.input input:focus {
  background: #fff;
  border: 2px solid #333;
  outline: none;
}

div.form form div.input input::-moz-placeholder {
  color: #8888;
  padding-left: 0.4rem;
}

div.form form div.input input:-ms-input-placeholder {
  color: #8888;
  padding-left: 0.4rem;
}

div.form form div.input input::placeholder {
  color: #8888;
  padding-left: 0.4rem;
}

div.form form div.input span {
  color: #911;
  padding: 0.4rem 0.2rem;
  font-size: 1.4rem;
}

div.form form div.input.textarea {
  grid-column: 1/3;
}

div.form form div.input.textarea label,
div.form form div.input.textarea textarea,
div.form form div.input.textarea span {
  width: 95%;
  margin: 0 2.5%;
}

div.form form div.input.textarea textarea {
  background: #eee;
  border: 2px solid #888;
  border-radius: 0.4rem;
  padding: 0 0.4rem;
  resize: none;
  height: 8rem;
}

div.form form div.input.textarea textarea:focus {
  background: #fff;
  border: 2px solid #333;
  outline: none;
}

div.form form div.input.textarea textarea::-moz-placeholder {
  color: #8888;
  padding-left: 0.4rem;
}

div.form form div.input.textarea textarea:-ms-input-placeholder {
  color: #8888;
  padding-left: 0.4rem;
}

div.form form div.input.textarea textarea::placeholder {
  color: #8888;
  padding-left: 0.4rem;
}

div.form form div.submit {
  display: grid;
  place-items: center;
  grid-column: 1/3;
  height: 4rem;
  margin: 1rem 0;
}

div.form form div.submit input {
  display: grid;
  place-items: center;
  background: #fff;
  font-size: 1.8rem;
  padding: 0.8rem;
  color: #333;
  border: 2px solid #3338;
  border-radius: 0.4rem;
  cursor: pointer;
  box-shadow: 0 1px 0.5rem 0.2rem #aaaa;
  width: 25%;
}

div.form form div.submit input:hover {
  background: #999;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 1px 0.8rem 0.8rem #aaaa;
}

div.form form div.submit input:focus {
  border: 2px solid #333;
  outline: none;
}

div.list.architects {
  display: inline-block;
  background: #eee;
  width: 90%;
  margin: 1rem 5%;
  padding: 2rem;
  border: 2px solid #3338;
  border-radius: 1rem;
  position: relative;
}

div.list.architects .search {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 16rem;
  height: 3rem;
  background: #eee;
  border: 2px solid #888;
  border-radius: 0.4rem;
  padding-left: 0.4rem;
}

div.list.architects .search:focus {
  background: #fff;
  border: 2px solid #333;
  outline: none;
}

div.list.architects h2 {
  display: grid;
  place-items: center;
  width: 100%;
  height: 3.6rem;
  margin: 2rem 0 4rem;
  position: relative;
}

div.list.architects .line {
  display: grid;
  width: 80%;
  height: 2.4rem;
  margin: 0.2rem 10%;
}

div.list.architects .line span {
  display: grid;
  place-items: center;
}

div.list.architects .line:first-of-type {
  margin-bottom: 2rem;
}

div.list.architects .line:nth-of-type(even) {
  background: #ddd8;
  border-radius: 0.4rem;
}

div.list.architects .line .top {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 5%;
}

div.list.architects .line .top span {
  font-size: 1.8rem;
  width: 70%;
  text-align: center;
}

div.list.architects .line .top .sort {
  display: grid;
  place-items: center;
  width: 2.4rem;
  height: 2.4rem;
  float: left;
  cursor: pointer;
  background: #ddd8;
  border: 1px solid #888;
  border-radius: 50%;
}

div.list.architects .line .top .sort:hover {
  border: 1px solid #333;
}

div.list.architects .line .top .sort .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  border-bottom: 0.7rem solid #444;
}

div.list.architects .line .top .sort .arrow.down {
  transform: rotate(180deg);
}

div.list.architects .top.actions {
  grid-column: 3/7;
}

div.list.architects .top.actions span {
  width: 100%;
}

div.list.architects .bottom.actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 3/7;
}

div.list.architects .bottom.actions button {
  display: grid;
  place-items: center;
  background: #fff;
  font-size: 1.8rem;
  padding: 0.8rem;
  color: #333;
  border: 2px solid #3338;
  border-radius: 0.4rem;
  cursor: pointer;
  box-shadow: 0 1px 0.5rem 0.2rem #aaaa;
  font-size: 1.2rem;
  margin: 0.2rem 3rem;
  padding: 0;
}

div.list.architects .bottom.actions button:hover {
  background: #999;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 1px 0.8rem 0.8rem #aaaa;
}

div.list.architects .bottom.actions button:focus {
  border: 2px solid #333;
  outline: none;
}

div.list.architects .bottom.actions button.delete {
  color: #fff;
  background: #d88;
}

div.list.architects div.line {
  grid-template-columns: repeat(5, 1fr);
}
